@model BankingSystem.Models.NewUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccNo" />
            <div class="form-group">
                <label>Accpunt Holder Name</label>
                <input asp-for="AccHolderName" class="form-control" />
                <span asp-validation-for="AccHolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Mobile Number</label>
                <input asp-for="MobNo" class="form-control" />
                <span asp-validation-for="MobNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Email ID</label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select id="Gender" name="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Date Of Birth</label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select id="City" name="City">
                    <option value="Sangamner">Sangamner</option>
                    <option value="Nasik">Nasik</option>
                    <option value="Pune">Pune</option>
                    <option value="Nagar">Akole</option>
                    <option value="Sinnar">Sinnar</option>
                    <option value="Nagpur">Nagpur</option>
                    <option value="Sangli">Akole</option>
                    <option value="Satara">Satara</option>
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Activation Status</label>
                <input asp-for="ActivationStatus" class="form-control" />
                <span asp-validation-for="ActivationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="AvlBalance" class="form-control" />
                <span asp-validation-for="AvlBalance" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
