@model BankingSystem.Models.AdminLoginViewModel

@{
    ViewData["Title"] = "HomePage";
}

<h1 style="background-color:aqua;text-align:center">Banking System</h1>
<hr />
<table height="100px"width="100%" style="background-color:antiquewhite" >
    <tr>
        <th>
            <div>
                <a asp-action="AdminLogIn"><h3>AdminLogIn</h3></a>
            </div>
        </th>

        <th>
            <div style="text-align:center">
                <a asp-action="UserLogin"><h3>UserLogin</h3></a>
            </div>
        </th>
    </tr>
</table>
