@model BankingSystem.Models.AdminLoginViewModel

@{
    ViewData["Title"] = "HomePage";
}

<h1>HomePage</h1>

<table>
    <tr>
        <th>
            <div>
                <a asp-action="AdminLogIn">AdminLogIn</a>
            </div>
        </th>

        <th>
            <div>
                <a asp-action="UserLogin">UserLogin</a>
            </div>
        </th>
    </tr>
</table>
